{% load static %}
<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-2 pt-4 bg-dark">

  <!-- Footer Elements -->

    <!--Grid row-->
    <div class="row d-flex left-content-center">

      <!--Grid column-->
      <div class="col-sm-3">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4 ">
          <iframe class="embed-responsive-item" src="{% static "img/final catok.mp4"%}"
            allowfullscreen></iframe>

        </div>

    </div>
    <!--Grid row-->
    <div class="col-sm-3">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4 ">
          <iframe class="embed-responsive-item" src="{% static "img/final catok.mp4"%}"
            allowfullscreen></iframe>

        </div>

    </div>
    <div class="col-sm-3">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4 ">
          <iframe class="embed-responsive-item" src="{% static "img/final catok.mp4"%}"
            allowfullscreen></iframe>

        </div>

    </div>

  </div>


  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->